.countries-overall{
  background-image:url(../../images/country-bg.jpg);
  background-size:cover;
  background-position:center;
  background-repeat:none;
  height: 1800px;
  overflow:hidden;
}
.sp-sb{
  padding-top:20px;
}