.countryTitles{
  position: absolute;
  display: flex;
  color:white;
  font-family:Raleway;
  align-self:center;
  font-size:26px;
  filter:opacity(0%);
  transition: filter .5s ease-out;
}


.imgwrapper:hover{
  .countryTitles{
    filter:opacity(100%);
    transition: filter .5s ease-in;
  }
}