.club-overall{
  background-image: url('../../images/club-bg.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  height: 2500px;
  overflow:hidden;
}

.sp-sb{
  padding-top:20px;
}