.loader{
  background-color:none;
  margin-left:auto;
  margin-right:auto;
  border: 16px solid #bdc3c7;
  margin-top:200px;
  width: 90px;
  height: 90px;
  border-top-color: #1abc9c;
  border-bottom-color: #3498db;
  border-radius: 50%;
  animation: coloredspin 4s linear infinite;
}

@keyframes coloredspin {
  0%{
    transform: rotate(0deg) scale(1);
    border-top-color: #1abc9c;
    border-bottom-color: #1abc9c;
  }
  25% {
    border-top-color: #2ecc71;
    border-bottom-color: #2ecc71;
  }
  50% {
    transform: rotate(360deg) scale(1.05);
    border-top-color: #3498db;
    border-bottom-color: #3498db;
  }
  75% {
    border-top-color: #9b59b6;
    border-bottom-color: #9b59b6;
  }
  100%{
    transform: rotate(720deg) scale(1);
    border-top-color: #1abc9c;
    border-bottom-color: #1abc9c;
  }
}