.attrib-overall{
  margin:15px 40px;
  background-color: rgba(40, 40, 40, .6);
  border-radius: 5px;
  padding: 30px;
  margin-top:20px;
}

.attrib-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .attrib-column1{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    color:white;
  }
  .attrib-column2{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    color:white;
  }
  .attrib-column3{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    color:white;
  }
}

.boots{
  display:flex;
  flex-direction: row;
  justify-content: center;

  .fas{
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 50px;
    color: rgba($color: #fad83e, $alpha: 0.3);
    margin-left:10px;
    margin-right: 10px;
  }
  .boot-toggled{
    color: rgba($color: #fad83e, $alpha: 1.0);
    text-shadow:1px 1px 2px rgb(87, 87, 87);
  }
  .fas:hover{
    color: rgba($color: #fad83e, $alpha: 1.0);
    cursor:pointer;
    text-shadow:1px 1px 2px rgb(87, 87, 87);
  }
}

.attrib-span{
  font-family: Raleway;
  font-size:38px;
}

.slider-span{
  font-size: 16px;
  font-family: Raleway;
}

.attrib-buttons{
  display:flex;
  width: 30%;
  justify-content: space-between;
  flex-direction: row;
  align-self: center;
  margin-left:auto;
  margin-right: auto;
}

.countries-btns{
  display:flex;
  flex-direction:column;
}